nav{
    height: 60px;
    width: 100%;
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
}